# ===========================================================
# CONFIGURAÇÕES DO AMBIENTE
# ===========================================================
ENVIRONMENT=development
DEBUG=true
LOG_LEVEL=INFO

# ===========================================================
# BANCO DE DADOS - POSTGRESQL
# ===========================================================
DATABASE_URL=postgresql://crypto_user:crypto_password_2025@db:5432/bullbot_signals

# ===========================================================
# CACHE - REDIS
# ===========================================================
REDIS_URL=redis://localhost:6379/0


# ===========================================================
# MENSAGENS - TELEGRAM
# ===========================================================
TELEGRAM_BOT_TOKEN=xx:xxxx
TELEGRAM_CHAT_ID=xxx
